<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="StyleSheet" href="/style.css">
</head>
<body bgcolor="#8f7bb0" >
    <h1>WELCOME HOME</h1>
    
    <form action="/home" method="post">
            <div class="form-group">
                <div class="form-group1">
                    <center>
                        <label for="code"><h2>CODE:</h2></label>
                    </center>
                <input type="text" id="code" name="Ecode" placeholder="Enter the code"  title="Please enter a valid code" required autocomplete="off">
                </div>
                <button type="submit"  class="submit-btn1">Verify</button>

            </div></form>
            
           
</body>
</html>