<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
   <link rel="StyleSheet" href="/style.css">
</head>
<body bgcolor="#8f7bb0">
    <div class="form-container">
        <h2>signup</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="username" placeholder="Enter your desired name"required autocomplete="off">

            </div>
            <div class="form-group">
                <label for="Moblie_number">Moblie_number:</label>
                <input type="tel"  maxlength="10"   id="Moblie_number" name="num" placeholder="Moblie_number" required>
            </div>
            <div class="form-group">
                <label for="Emailaddress">Email address:</label>
                <input type="email" name="email" pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"  title="Please enter a valid email address" required placeholder="user@example.com">
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input type="password" id="password" name="password" placeholder="password" required>
            </div>

              <button type="submit" class="submit-btn">Signup</button>

        </form>
        <p>Already have an account <a href="/">Login</p>
    </div>
</body>
</html>