* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .form-container {
    background-color: aliceblue;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #130f0f;
    border-radius: 10px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #983513;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 

  .submit-btn:hover {
    background-color: #eea300;
  }
  .submit-btn1 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #002292;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 
  .submit-btn1:hover {
    background-color: #6b8ed9;
  }
  .form-group1 {
    margin-bottom: 15px;
    display: flex;
  }

  p {
    margin-top: 15px;
  }
